<a href="https://colab.research.google.com/github/leenago/Self_studying/blob/master/API_medical_devices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
# from pandas.io.json import json_normalize
from bs4 import BeautifulSoup as bs
import requests
import urllib.request
import json

In [2]:
key = 'zsQ%2F3KJhCCpXZDpnSvALNd4%2BUj%2Biop3ADioCfr7%2Fl%2BwU0b7vvw5nvjE2D0nzSZ%2FPrZTUYjS6fAJPTa6IDi%2F9yQ%3D%3D'

## 1번째
- https://www.data.go.kr/iim/api/selectAPIAcountView.do

In [13]:
#default값이 xml이라, json으로 바꿔준다.
#맛보기로 페이지에 나오는 값을 5로 설정해준다.
url1 = 'http://apis.data.go.kr/1471000/MdeqPlcRlatDocCtgryInfoService/getMdeqPlcRlatDocCtgryInfoInq?ServiceKey='+str(key)+ '&numOfRows=5&pageNo=11&type=json'
url1

'http://apis.data.go.kr/1471000/MdeqPlcRlatDocCtgryInfoService/getMdeqPlcRlatDocCtgryInfoInq?ServiceKey=zsQ%2F3KJhCCpXZDpnSvALNd4%2BUj%2Biop3ADioCfr7%2Fl%2BwU0b7vvw5nvjE2D0nzSZ%2FPrZTUYjS6fAJPTa6IDi%2F9yQ%3D%3D&numOfRows=5&pageNo=11&type=json'

In [14]:
req = urllib.request.urlopen(url1)
req

In [15]:
json_str = req.read()
json_str

b'{"header":{"resultCode":"00","resultMsg":"NORMAL SERVICE."},"body":{"pageNo":11,"totalCount":1044,"numOfRows":5,"items":[{"MDEQ_CLSF_NO":"A27100.01","DOC_CTGRY_ID":"4","DOC_CTGRY_NM":"\xec\x8b\xac\xec\x82\xac\xec\xa7\x80\xec\xb9\xa8\xec\x84\x9c"},{"MDEQ_CLSF_NO":"A37010.03","DOC_CTGRY_ID":"1","DOC_CTGRY_NM":"\xea\xb8\xb0\xec\xa4\x80\xea\xb7\x9c\xea\xb2\xa9"},{"MDEQ_CLSF_NO":"A31190.07","DOC_CTGRY_ID":"1","DOC_CTGRY_NM":"\xea\xb8\xb0\xec\xa4\x80\xea\xb7\x9c\xea\xb2\xa9"},{"MDEQ_CLSF_NO":"A31080.01","DOC_CTGRY_ID":"1","DOC_CTGRY_NM":"\xea\xb8\xb0\xec\xa4\x80\xea\xb7\x9c\xea\xb2\xa9"},{"MDEQ_CLSF_NO":"A27110.01","DOC_CTGRY_ID":"4","DOC_CTGRY_NM":"\xec\x8b\xac\xec\x82\xac\xec\xa7\x80\xec\xb9\xa8\xec\x84\x9c"}]}}'

In [16]:
#Deserialize json_str to a Python object - To parse (serialized data) so as to reconstruct the original object
json_object = json.loads(json_str)
json_object

{'body': {'items': [{'DOC_CTGRY_ID': '4',
    'DOC_CTGRY_NM': '심사지침서',
    'MDEQ_CLSF_NO': 'A27100.01'},
   {'DOC_CTGRY_ID': '1', 'DOC_CTGRY_NM': '기준규격', 'MDEQ_CLSF_NO': 'A37010.03'},
   {'DOC_CTGRY_ID': '1', 'DOC_CTGRY_NM': '기준규격', 'MDEQ_CLSF_NO': 'A31190.07'},
   {'DOC_CTGRY_ID': '1', 'DOC_CTGRY_NM': '기준규격', 'MDEQ_CLSF_NO': 'A31080.01'},
   {'DOC_CTGRY_ID': '4',
    'DOC_CTGRY_NM': '심사지침서',
    'MDEQ_CLSF_NO': 'A27110.01'}],
  'numOfRows': 5,
  'pageNo': 11,
  'totalCount': 1044},
 'header': {'resultCode': '00', 'resultMsg': 'NORMAL SERVICE.'}}

In [17]:
#우리가 필요한 정보는 'body' 안에 'items'
json_object['body']['items']

[{'DOC_CTGRY_ID': '4', 'DOC_CTGRY_NM': '심사지침서', 'MDEQ_CLSF_NO': 'A27100.01'},
 {'DOC_CTGRY_ID': '1', 'DOC_CTGRY_NM': '기준규격', 'MDEQ_CLSF_NO': 'A37010.03'},
 {'DOC_CTGRY_ID': '1', 'DOC_CTGRY_NM': '기준규격', 'MDEQ_CLSF_NO': 'A31190.07'},
 {'DOC_CTGRY_ID': '1', 'DOC_CTGRY_NM': '기준규격', 'MDEQ_CLSF_NO': 'A31080.01'},
 {'DOC_CTGRY_ID': '4', 'DOC_CTGRY_NM': '심사지침서', 'MDEQ_CLSF_NO': 'A27110.01'}]

In [20]:
#page 수가 11장이기 때문에, for loop을 사용해준다.

df_json1 = pd.DataFrame(columns = ['MDEQ_CLSF_NO','DOC_CTGRY_ID','DOC_CTGRY_NM'])

for i in range(1,12):
  url1 =  'http://apis.data.go.kr/1471000/MdeqPlcRlatDocCtgryInfoService/getMdeqPlcRlatDocCtgryInfoInq?ServiceKey='+str(key)+ '&numOfRows=100&pageNo='+str(i) + '&type=json'

  req = urllib.request.urlopen(url1)
  json_str = req.read()
  json_object = json.loads(json_str)

  df_json1 = pd.concat([df_json1, pd.json_normalize(json_object['body']['items'])])


df_json1

   MDEQ_CLSF_NO DOC_CTGRY_ID DOC_CTGRY_NM
0     A31170.02            1         기준규격
1     A31010.39            4        심사지침서
2     A26410.01            1         기준규격
3     A35010.01            1         기준규격
4     A31170.03            1         기준규격
..          ...          ...          ...
39    A16030.01            6     성능시험가이던스
40    A11110.04            1         기준규격
41    A04090.04            4        심사지침서
42    A23010.01            1         기준규격
43    A16030.01            5        가이드라인

[1044 rows x 3 columns]

In [22]:
#우리가 보기 편하게, 컬럼 이름을 바꾸어준다.
df_json1 = df_json1.rename(columns = {'MDEQ_CLSF_NO':'품목분류번호','DOC_CTGRY_ID':'문서카테고리아이디','DOC_CTGRY_NM':'문서카테고리이름'}).reset_index(drop=True)
df_json1

         품목분류번호 문서카테고리아이디  문서카테고리이름
0     A31170.02         1      기준규격
1     A31010.39         4     심사지침서
2     A26410.01         1      기준규격
3     A35010.01         1      기준규격
4     A31170.03         1      기준규격
...         ...       ...       ...
1039  A16030.01         6  성능시험가이던스
1040  A11110.04         1      기준규격
1041  A04090.04         4     심사지침서
1042  A23010.01         1      기준규격
1043  A16030.01         5     가이드라인

[1044 rows x 3 columns]

- 이 작업을 3개의 API에다가 더 해주면 끝!
- xml 형식은 어떻게 불러오는지 더 해보아야 할 것 같다.