<a href="https://colab.research.google.com/github/leenago/Self_studying/blob/master/Python/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%B2%A0%EC%A0%80%EC%9E%85%EB%AC%B8_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##1. 제어문과 입출력 
###1) List comprehension

In [2]:
numbers = [1,2,3,4,5]
square = []

In [4]:
for i in numbers:
  square.append(i**2)

print(square)

[1, 4, 9, 16, 25]

In [6]:
square = [(i**2) for i in numbers]
square

[1, 4, 9, 16, 25]

In [8]:
#조건문을 포함한 List comprehension
numbers = [6,7,8,9]
square = []

for i in numbers:
  if i>=3:
    square.append(i**2)

square

[36, 49, 64, 81]

In [10]:
square = [i**2 for i in numbers if i>=3] ; square

[36, 49, 64, 81]

In [11]:
#print
print('Welcome to')
print('Python!')

Welcome to
Python!

In [17]:
print('Welcome to ', end='') #print 함수 안에 라인 끝의 값을 지정할 수 있는 end 인자 / print는 줄바꿈이 default이지만, end 인자를 추가하게 되면 줄바꿈 없이 연결되어 추가가 된다.
print('Python!')
print('Welcome to ', end='happy ')
print('Python!')

Welcome to Python!
Welcome to happy Python!

### 2) 형식 지정 출력
- 기본: print('%type' %data)
  - data가 문자열인 경우: **%s**
  - data가 정수인 경우: **%d**, **%i**
  - data가 실수인 경우: **%f**

- data가 2개 이상인 경우: print('%type %type' %(data1, data2))

In [24]:
r = 3
PI = 3.14159265358979

print('반지름: %d, 원주율 %f' %(r, PI))
print('반지름: %d, 원주율 %f' %(PI, r)) #정수인 경우, 실수인 경우 나눠서 값을 지정해줘야 함!
print('반지름: %f, 원주율 %d' %(PI, r)) #위치에 따라 값이 달라짐

반지름: 3, 원주율 3.141593
반지름: 3, 원주율 3.000000
반지름: 3.141593, 원주율 3

### 3) 형식 지정 문자열에서 출력 위치 지정
 - string.format() 사용하기
  - print('{0},{1},{2} ... {n}'.format(data_0, data_1, data_2, ..., data_n)

In [27]:
animal_0 = 'cat'
animal_1 = 'dog'
animal_2 = 'fox'

print('Animal: {0}'.format(animal_0))
print('Animal: {0},{1},{2}'.format(animal_0, animal_1, animal_2))
print('Animal: {0}, {1}, {2}'.format(animal_2, animal_0, animal_1)) #앞에 띄어쓰기가 있으면 결과값도 띄어쓰기가 포함이 되는구나!
print('Animal: {},{}'.format(animal_1, animal_0, animal_2)) #format 안에 다 있더라도, 앞에서 2개만

Animal: cat
Animal: cat,dog,fox
Animal: fox, cat, dog
Animal: dog,cat

In [29]:
name = 'Leena'
age = 26
tall = 174.6

fmt_string = 'String: {}, Integer Number: {}, Floating Number: {}'
print(fmt_string.format(name, age, tall)) #여기서 지정하는 순서대로 print 된다

String: Leena, Integer Number: 26, Floating Number: 174.6

### 4) 형식 지정 문자열에서 숫자 출력 형식 지정

|데이터|출력형식|출력결과|설명|
|  :---:  | :---: | :---: | :---|
|3|{N:2d}|_3|정수를 공백 포함하여 두 자리로 표시|
|3|{N:05d}|00003 | 정수를 다섯자리로 표시, 앞의 공백은 0으로 채움|
|12|{N:>5d}|___12| 정수를 다섯자리로 표시, 숫자는 오른쪽으로 정렬|
|0.123456|{N:.3f}|0.123|실수를 소수점 셋째 자리까지 표시|
|7456000|{N:,}|7,456,000|끝에서 셋째 자리까지 표시|
|0.3258|{N:.1%}|32.6%|소수를 퍼센트(%)로 표시, 퍼센트 표시에서 소수점 자리 수는 '.' 다음 수로 표시|
|925000000000|{N:.2e}|9.25e+10|숫자를 지수로 표시, 지수 표시에서 소수점 자리 수는 '.' 다음 수로 표시|
|16|{N:#x}|0x10| 숫자를 16진수로 표시, #기호가 없으면 0x 없이 출력됨|
|8|{N: #o}|0o10| 숫자를 8진수로 표시, #기호가 없으면 0o 없이 출력됨|
|2|{N: #b}|0b10| 숫자를 2진수로 표시, #기호가 없으면 0b 없이 출력됨|

In [41]:
a = 0.123456789123456789
b = 123456789123456789

print('{0:.2f}, {0:.3f}, {0:.4f}, {0:.5f}'.format(a))

0.12, 0.123, 0.1235, 0.12346

In [60]:
print('{0:,}'.format(b))
print('{0:#o}'.format(b))
print('{0:b}'.format(b))
print('{0:.5%}'.format(a)) #format하는 자리에 *100 한 후, 소수점 아래 n번째 자리까지 표시

123,456,789,123,456,789
0o6664664565464057425
110110110100110110100101110101100110100000101111100010101
12.34568%

### 5) 키보드 입력

In [61]:
yourName = input('당신의 이름은?')
print('당신의 이름은 {}이군요.'.format(yourName)) #input된 값을 {} 사이에다 format

당신의 이름은?Leena
당신의 이름은 Leena이군요.

In [62]:
c = input('정사각형 한 변의 길이는?')
area = float(c) **2
print('정사각형의 넓이: {}'.format(area))

정사각형 한 변의 길이는?6
정사각형의 넓이: 36.0

In [63]:
b = input('정사각형 한 변의 길이는?')
area = float(b)**2
print('정사각형의 넓이:{}'.format(area))

정사각형 한 변의 길이는?1.5
정사각형의 넓이:2.25

##2. 함수

###1) 인자도 있고 반환값도 있는 함수
- 인자에는 list, tuple, dictionary도 인자로 사용할 수 있다.
- 인자를 list에 담아 함수에 호출할 수도 있고, list를 바로 인자에 담을 수도 있음

In [72]:
def fruits(fruit):
  print('My favorite fruit is ', fruit[0],'.')
  print('Amy likes ', fruit[1],'.')
  print("But I don't like ", fruit[2],'.')

In [73]:
fruit = ['cherry','apple', 'mango']

In [74]:
#list에 담은 인자들을 함수에 불러오는 경우
fruits(fruit)

My favorite fruit is  cherry .
Amy likes  apple .
But I don't like  mango .

In [75]:
#인자를 직접 함수에 담는 경우
fruits(['strawberry','pineapple','durian'])

My favorite fruit is  strawberry .
Amy likes  pineapple .
But I don't like  durian .

### 2) 변수의 유효범위
 - 함수 안에서 정의·생성한 변수는 함수 안에서만 사용 가능 (= 지역 변수, local variable)
 - 지역 영역(local scope): 지역 변수를 저장하는 이름 공간 


 - 코드 내 어디서나 사용 가능 (= 전역 변수, global variable)
 - 전역 영역(global scope): 전역 변수를 저장하는 이름 공간

In [80]:
a = 5 #전역 변수

def func1():
  a = 1 #지역 변수, func1()에서만 사용
  print('[func1]의 지역변수  a = ', a)

def func2():
  a = 2 #지역 변수, func2()에서만 사용
  print('[func2]의 지역변수 a = ', a)

def func3():
  print('[func3]의 지역변수 a = ', a)

def func4():
  global a #함수 내에서 전역 변수를 변경하기 위해 선언, 이걸 먼저 선언해야 전역 변수가 변경이 된다!
  a = 4
  print('[func4]의 지역변수 a = ', a)

In [81]:
func1()
func2()
print('전역변수 a=', a) #함수를 호출하지 않고 변수를 이용하면 전역 변수를 참조함

[func1]의 지역변수  a =  1
[func2]의 지역변수 a =  2
전역변수 a= 5

In [82]:
func3() #func4()에서 전역 변수가 변경되기 전
func4()
func3() #func4()가 호출되고 나서 변수가 변경됨

[func3]의 지역변수 a =  5
[func4]의 지역변수 a =  4
[func3]의 지역변수 a =  4

### 3) 람다 함수
- lambda <인자>: <인자 활용 수행 코드>
- (lambda <인자> : <인자 활용 수행 코드>)(<인자>)

- lambda_function = lambda <인자> : <인자 활용 수행 코드> ; lambda_function(<인자>)

In [83]:
(lambda x : x**2)(3) #인자: x, 인자 활용 수행 코드: x**2, x = 3

9

In [85]:
mySquare = lambda x : x**2
print(mySquare(2))
print(mySquare(5))

4
25

In [86]:
mySimplefunction = lambda x, y, z : x**3 + 2*y + z
mySimplefunction(3,6,9) # 27+12+9 = 48

48

### 4) bool 함수의 활용

In [93]:
def print_name(name):
  if bool(name): #존재 여부만 체킹
    print('Your name is', name,'.')
  else:
    print('Your name is not in the list.')

In [94]:
print_name('')

Your name is not in the list.

In [95]:
print_name('Leena')

Your name is Leena .

### 5) 최솟값, 최댓값, 절댓값 구하는 함수
- min(), max()
- abs()

In [97]:
myStr = 'bcdazxy'
print(min(myStr))
print(max(myStr))

a
z

In [98]:
myNum = {'abc','Abc','aBc','efg'}
[min(myNum), max(myNum)] #list에 담아주는 방법!

['Abc', 'efg']

In [99]:
#절댓값 구하는 함수
abs(-150)

150

###6) sum과 len 사용하여 평균과 총점 구하기

In [111]:
scores = [90, 80, 75, 60, 55, 100]

print(('Total Score: {}, Average Score: {}').format(sum(scores), sum(scores)/len(scores)))

Total Score: 460, Average Score: 76.66666666666667

##3. 객체와 클래스

### 1) 객체 생성 및 활용

 - 자전거
  - 자전거의 속성: 바퀴, 크기
  - 자전거의 동작: 지정된 속도로 이동(move), 좌/우 회전(turn), 정지(stop)

In [112]:
class Bicycle(): #클래스 선언
  pass

In [113]:
#선언된 클래스로부터 클래스의 인스턴스인 객체를 생성하는 방법은 
#객체명 = 클래스명 ()
my_bicycle = Bicycle() 

#my_bicycle 객체는 Bicycle 클래스의 인스턴스!

In [114]:
my_bicycle #at 뒤의 값은 생성된 객체의 메모리 주소

In [115]:
#객체의 변수에 접근하여 객체의 속성을 가져오는 방법은
#객체명.변수명

my_bicycle.wheel_size = 26
my_bicycle.color = 'purple'

In [116]:
#위에서 설정한 객체의 속성값 가져오기
print('바퀴 사이즈는', my_bicycle.wheel_size)
print('자전거 색은', my_bicycle.color)

바퀴 사이즈는 26
자전거 색은 purple

In [118]:
#Bicycle 클래스에 함수 추가하기

class Bicycle():

  def move(self, speed):
    print('자전거: 시속 {0}km로 전진'.format(speed))

  def turn(self, direction):
    print('자전거: {} 회전'.format(direction))

  def stop(self):
    print('자전거({0}, {1}): 정지'.format(self.wheel_size, self.color))